<ion-toolbar>
  <ion-buttons slot="start">
    <ion-menu-button></ion-menu-button>
    <ion-back-button defaultHref="/"></ion-back-button>
  </ion-buttons>

  <ion-title class="typology-title">BODY-CARE</ion-title>
  <ion-buttons slot="end">
    
    <!-- Cart button -->
    <ion-button fill="clear" (click)="goToCartPage()">
      <ion-icon name="cart-outline" color="dark"></ion-icon>
    </ion-button>
  </ion-buttons>
</ion-toolbar>

<!-- sorting -->
<ion-toolbar>
  <ion-buttons slot="end">
    <ion-button (click)="sortLowToHigh()">Low to High</ion-button>
    <ion-button (click)="sortHighToLow()">High to Low</ion-button>
  </ion-buttons>
</ion-toolbar>

  <!-- images, description and price -->
<ion-content>
  <ion-grid fixed>
    <ion-row>
      <ion-col size="6" *ngFor="let product of products" class="product-col">
        <div class="product-card" (click)="navigateToProductDetail(product)">
          <ion-img [src]="product.image" alt="Product image" class="product-image"></ion-img>
          <div class="product-details">
            <ion-card-title class="typology-title">{{ product.title }}</ion-card-title>
            <p class="description">{{ product.description }}</p>
            <div class="price-and-favorite">
              <ion-note class="price">{{ product.price }}</ion-note>
              <ion-button fill="clear" class="favorite-button" (click)="toggleFavorite(product); $event.stopPropagation();">
                <ion-icon 
                slot="icon-only" 
                name="{{ product.isFavorite ? 'heart' : 'heart-outline' }}" 
                [color]="product.isFavorite ? 'danger' : 'medium'">
              </ion-icon>
              </ion-button>
            </div>
          </div>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>



  <!-- Bottom Icons -->
  <div style="position: fixed; bottom: 0; left: 0; width: 100%; background-color: #fff; padding: 5px; display: flex; justify-content: space-around; border-top-left-radius: 30px; border-top-right-radius: 30px; border-top: 1px solid #ddd;">

    <!-- Home -->
    <ion-button fill="clear" (click)="goToHomePage()">
      <ion-label style="font-family: 'Maven Pro', sans-serif; font-weight: bold; font-size: 25px; color: dark;">T.</ion-label>
    </ion-button>

    <!--  Search -->
    <ion-button fill="clear"(click)="goToSearchPage()">
      <ion-icon name="search-outline" color="dark"></ion-icon>
    </ion-button>

    <!-- Favorites -->
    <ion-button fill="clear" (click)="goToFavouritesPage()">
      <ion-icon name="heart-outline" color="dark"></ion-icon>
    </ion-button>
    

    <!-- Profile -->
    <ion-button fill="clear" (click)="goToAccountPage()">
      <ion-icon name="person-outline" color="dark"></ion-icon>
    </ion-button>

  </div>
</ion-content>

