.maven-pro-title {
    font-family: 'Maven Pro', sans-serif;
    font-size: 18px; 
  }
  
  .robot-mono-text {
    font-family: 'Robot Mono', monospace;
    font-size: 12px;
  }
  

.robot-mono-text {
  font-family: 'Robot Mono', monospace;
  font-size: 12px; 
}
